.burguer_menu {
  background-color: #0F1121;
}

.burguer_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vh;
}

.burguer_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.burguer_links li {
  list-style: none;
  text-align: center;
  color: $main-subtitle-color;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #f1f2f9;
    color: $main-font-color;
  }
}

.burguer_links li a {
  text-decoration: none;
  font-size: 12px;
  color: #75767F;
  padding: .5rem 1rem;
}

.burguer_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burguer_btns button {
  width: 100%;
  background-color: transparent;
  border: 1px solid gray;
}