.burguer_menu {
  background-color: #0F1121;
  padding-top: 32px;
  width: 100vw;
  height: 100vh;
}

.burguer_links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.burguer_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.burguer_link {
  list-style: none;
  text-align: center;
  color: $main-subtitle-color;
  margin-bottom: 32px;
  position: relative;
}

.burguer_link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #75767F;
  padding: .5rem 1rem;

  &:hover {
    color: $main-font-color;
  }

  &:hover::after {
    content: "";
    position: absolute;
    background-color: #f1f2f9;
    border-radius: 2px;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.burguer_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.burguer_btns button {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid gray;
  border-bottom: 2px solid transparent;

    &:hover {
    border-bottom-color: #f1f2f9;
  }
}