.favourite_title {
  font-size: 32px;
  font-weight: 800;
  font-family: 'bold';
  margin-bottom: 8px;
}

.favourite_subtitle {
  font-size: 14px;
  font-family: 'regular';
  font-weight: 600;
  color: #75767F;
  margin-bottom: 32px;
}