.select_panel {
  width: 136px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'semi-bold';
  display: flex;
  background-color: #323542;
  color:$main-font-color;
  border-color: transparent;
}

.tabs_back-text {
  color: $main-font-color;
  font-size: 12px;
  font-family: 'semi-bold';
  font-weight: 700;
  text-decoration: none;

    &:hover {
    color: darkorchid;
  }
}

.item_title {
  font-size: 22px;
  font-family: 'bold';
  font-weight: 800;
  margin-bottom: 38px;
}

.item-main-image_container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 275px;
  height: 275px;
}

.item_image {
 height: 90%;
}

.item-sm-images_container {
  display: flex;
  margin-bottom: 40px;
}

.item-button_image {
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.item-sm_image {
  height: 90%;
}

.item_subtitle {
  font-size: 12px;
  font-family: 'semi-bold';
  font-weight: 700;
  color: #75767F;
}

.item_subtitleId {
  font-size: 12px;
  font-family: 'semi-bold';
  font-weight: 700;
  color: #4A4D58;
}

.color-palette_container {
  display: flex;
  gap: 10px;
}

.color-palette_item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #4A4D58;
}