.navbar {
  &-nav {
    @include onMobile {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      height: 100vh;
    }
  }

  &_link {
    color: #75767F;
    border-bottom: 1px solid transparent;
    margin-bottom: 32px;
    font-size: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border-color: #f1f2f9;
    }

    @include onTablet {
      font-weight: 800;
      font-size: 12px;
      line-height: 11px;
    }
  }

  &_full_height {
    @include onMobile {
      min-height: 100vh;
      align-items: flex-start;
    }
  }

  &_logo {
    padding-left: 16px;
  }

  &-dark {
    border-bottom: 1px solid #3B3E4A;
  }

  &_heart {
      color: #f1f2f9;
      opacity: 0.3;
      cursor: pointer;

      &:hover {
        animation: heartbeat 1s;
        fill: #f1f2f9;
        color: #f1f2f9;
        opacity: 1;
        transition: opacity 500ms;
      }
    }

    @keyframes heartbeat {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.25);
      }
      100% {
        transform: scale(1);
      }
    }

    &_button {
      background-color: transparent;
    }
  }


