.navbar {
  background-color: #0F1121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #3B3E4A;
  padding: 0;
  margin: 0;
  height: 48px;

  &_links ul {
    margin: 0;
    padding: 0;
    display: flex;

    @include onMobile {
      display: none;
    }
  }

  &_links li {
    list-style: none;
  }

  &_link {
    text-decoration: none;
    color: $main-subtitle-color;
    font-size: 12px;
    padding: 0.5rem;
    display: block;
    border-bottom: 2px solid transparent;

    &:hover {
            border-color: #f1f2f9;
            color: $main-font-color;
          }
  }

  &_logo {
    margin-left: 16px;
  }

  &_btns {
    height: 100%;
    margin-left: 110px;
  }

  &_btns button {
    background-color: transparent;
    color:$main-font-color;
    width: 48px;
    height: 100%;

    &:hover {
      background-color: #323542;
    }

    @include onMobile {
      display: none;
    }
  }
}

.toggle_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  width: 14px;
  height: 8.5px;
  color: #f1f2f9;
  background-image: url(../../Icons/Unionmenu_opener_logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}

.toggle_button_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  width: 9px;
  height: 9px;
  color: #f1f2f9;
  background-image: url(../../Icons/Union.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    display: none;
  }

  @include onDesktop {
    display: none;
  }
}

.toggle_container {
  border-left: 1px solid #3B3E4A;
  display: block;
}