.catalog_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px;
  align-content: center;
  justify-content: center;

  @include onMobile {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
