catalog_list {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;

  @include onMobile {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.row {
  align-content: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 40px;

  @include onMobile {
    margin-bottom: 24px;
  }
}