catalog_list {
  display: flex;
  gap: 16px;

  @include onMobile {
    flex-direction: column;
  }
}

.select_panel {
  font-size: 14px;
  font-weight: 700;
  font-family: 'semi-bold';
  display: flex;
}

.row {
align-content: center;
justify-content: center;
gap: 16px;
}