.cardCarousel {
&_btns {
  margin-left: 72px;
  display: flex;
  gap: 16px;
}

&_title {
  font-weight: 800;
  display: inline-block;
  font-size: 22px;

  @include onTablet {
    font-size: 32px;
  }
}
&_container {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}
}

.link_button {
width: 32px;
height: 32px;
box-sizing: border-box;
background-color: transparent;
color: #4A4D58;
border: 1px solid #3B3E4A;

&:hover {
  background-color: #323542;
  color: #F1F2F9;
}
}

.phone_list {
  display: flex;
  margin-top: 24px;
  gap: 16px;
  flex-wrap: nowrap;
  width: auto;
  overflow: hidden;
}