.footer {
  &_container {
    background-color: #0F1121;
    padding: 33px 0px 33px 16px;
    font-family: 'bold';

    @include onTablet {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      padding: 32px;
    }
  }

  &_links {
    @include onTablet {
      display: flex;
      flex-grow: 2;
      align-content: center;
      justify-content: center;
      gap: 13px;
    }
  }

  &_logo {
    width: 89px;
    height: 30.25px;
    cursor: pointer;

    &_container {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      align-content: center;

      @include onTablet {
        margin-bottom: 0;
      }
    }
  }

  &_link {
    font-weight: 800;
    font-size: 12px;
    color: #f1f2f9;
    text-decoration: none;

    &:hover {
      color: darkorchid;
    }
  }

  &_subcontainer {
    margin-bottom: 16px;
  }

  &_backlink {
    text-decoration: none;
    color: #75767F;
    font-weight: 700;
    font-size: 12px;
    margin-right: 16px;

    &:hover {
      color: darkorchid;
    }

    &_container {
      display: flex;
      align-content: center;
      justify-content: center;
    }

    &_button {
      background-color: #323542;
      color: #f1f2f9;
    }
  }
}
