@import "~bootstrap/scss/bootstrap";

.App {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  background-color: #2A2932;

  &_link {
    color: #f1f2f9;
    width: 64px;
    height: 20.8px;
  }

  &__menu__opener {
    background-image: url(../public/Icons/Unionmenu_opener_logo.png);
    width: 14px;
    height: 8.5px;
  }
}
