@import '~bootstrap/scss/bootstrap';
@import '../src/utils/mixins.scss';
@import '../src/utils/variables.scss';
@import '../src/components/header/Header.scss';
@import '../src/components/phoneCard/PhoneCard.scss';
@import '../src/components/phoneList/PhoneList.scss';
@import '../src/components/footer/Footer.scss';
@import '../src/components/burguerMenu/BurguerMenu.scss';
@import '../src/components/bannerImage/BannerImage.scss';
@import '../src/components/shopSection/ShopSection.scss';
@import '../src/components/catalogPhoneList/CatalogPhoneList.scss';
@import '../src/components/pagination/Pagination.scss';

@font-face {
  font-family: 'regular';
  src: url('./fonts/Mont-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'bold';
  src: url('./fonts/Mont-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'semi-bold';
  src: url('./fonts//Mont-SemiBold.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
}

.carousel-inner {
  margin-bottom: 68px;
}

.carousel_image {
height: 320px;
object-fit: cover;

@include onTablet {
  height: 189px;
}

@include onDesktop {
  height: 400px;
}

}

.container {
  margin: 0;
}

.main {
  background-color: $main-background-color;
  padding: 16px;
  color: $main-font-color;
  font-family: 'bold';

  @include onTablet {
    padding: 24px;
  }

  @include onDesktop {
    padding: 32px;
  }

  &_title {
    margin-bottom: 24px;
    padding-top: 24px;
    font-weight: 800;
    font-size: 32px;

    @include onTablet {
      font-size: 48px;
      margin-bottom: 32px;
      padding-top: 32px;
    }

    @include onDesktop {
      margin-bottom: 56px;
      padding-top: 56px;
    }
  }

  &_btns {
    margin-left: 72px;
    display: flex;
    gap: 16px;
  }

  &_subtitle {
    font-weight: 800;
    display: inline-block;
    font-size: 22px;

    @include onTablet {
      font-size: 32px;
    }

    &_container {
      display: flex;
      margin-bottom: 24px;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.link_button {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: transparent;
  color: #4A4D58;
  border: 1px solid #3B3E4A;

  &:hover {
    background-color: #323542;
    color: #F1F2F9;
  }
}

.tabs_path {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 24px;
}

.homeIcon {
    width: 14px;
    height: 14px;
    background-image: url('./Icons/Home.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tabs_text {
  font-size: 12px;
  color: #75767f;
  font-weight: 700;
  margin-bottom: 4px;
}

.catalog_title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 8px;
}

.catalog_subtitle {
  font-weight: 600;
  font-size: 14px;
  color: #75767f;
  margin-bottom: 32px;
}

.catalog_select {
  display: flex;
  flex-direction: column;
}

.catalog_select-container {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.select_panel {
  display: flex;
  width: 136px;
  height: 40px;
  background-color: #323542;
  color:$main-font-color;
  font-size: 14px;
  font-weight: 700;
  border-color: transparent;
}