@import "~bootstrap/scss/bootstrap";

.App {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
  // background-color: #2A2932;

  &_link {
    color: #f1f2f9;
    width: 64px;
    height: 20.8px;
  }

  &__menu__opener {
    // background-image: url(../public/Icons/Unionmenu_opener_logo.png);
    color: #f1f2f9;
  }
}

.main {
  height: 80vh;

  &_title {
    background-color: #2A2932;
    color: #f1f2f9;
    margin-bottom: 0;
    font-weight: 800;
  }
  &_subtitle {
    background-color: #2A2932;
    color: #f1f2f9;
    margin-bottom: 0;
    font-weight: 800;
  }
}

.footer_container {
  background-color: #2A2932;
  color: #f1f2f9;
}