.App {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header_title {
  color: #f1f2f9;
  font-weight: 800;
  size: 32px;
  };

  .header__menu__opener {
    background-image: url(../public/Icons/Unionmenu_opener_logo.png);
  }