.card {
  display: flex;
  width: 212px;
  height: 439px;
  padding: 32px;
  align-items: center;
  justify-content: center;
  background-color: $secondary_background-color;
  color: $main-font-color;

  &-image {
    margin-bottom: 24ppx;
    border-radius: 15%;
    width: 50%;
    cursor: pointer;

    &_container {
      display: flex;
      width: 208px;
      height: 196px;
      justify-content: center;
      align-content: center;
    }
  }

  &_title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'regular';
    cursor: pointer;
  }

  &_specs {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    line-height: 15px;
  }

  &_text {
    color: #75767F;
    font-weight: 700;
  }

  &_value {
    font-weight: 600;
  }

  &_subtitle {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'bold';

    &_container {
      display: flex;
      gap: 8px;
    }

    &_dashed {
      text-decoration: line-through;
      color: #75767F;
      font-weight: 600;
      font-size: 22px;
      font-family: 'regular';
    }
  }

  &_line {
    background-color: #3B3E4A;
    width: 100%;
    height: 3px;
    margin-bottom: 16px;
  }

  &_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 700;
    font-family: 'semi-bold';
  }

  &_carousel {
    margin: 0;
    gap: 16px;
  }

  &_btn_container {
    justify-content: space-between;
    display: flex;
    padding: 0;
    font-family: 'semi-bold';
  }
}

.btn-primary {
  width: 107px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 0;
  background-color: #905BFF;
  border-color: #905BFF;
  font-size: 14px;

  &:hover {
    background-color: #A378FF;
    border-color: #905BFF;
  }

  --bs-btn-active-bg: {
    background-color: #323542;
  }
  --bs-btn-active-border-color: {
    background-color: #323542;
  }
}

.d-flex {
  padding: 0;
}

.heart {
  color: #f1f2f9;
  opacity: 0.3;
  cursor: pointer;


  &:hover {
    animation: heartbeat 1s;
    fill: #f1f2f9;
    color: #f1f2f9;
    opacity: 1;
    transition: opacity 500ms;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.like_button {
  margin-left: 8px;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background-color: #323542;
  height: 40px;
  width: 40px;
}
