.phone_list {
  display: flex;
  margin: 0 0 24px 0;
  flex-wrap: nowrap;
  height: 526px;
  overflow: hidden;

  // @include onTablet {
  //   display: flex;
  //   height: 526px;
  //   gap: 16px;
  //   overflow:initial;
  // }

}